*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
git add .
git remote add origin https://gitlab.com/sonudabhade1/android_project.git
git commit - m "My First Android Commit"
git push -u origin master
